<footer class="layout-footer">
    <section class="layout-container">
        <article>
            <span>
                UC San Diego 9500 Gilman Dr. La Jolla, CA 92093 (858) 534-2230
            </span>
        </article>
        <article>
            <span>
                Copyright © <span class="footer-copyright-year"></span> Regents of the University of California. All rights reserved.
            </span>
        </article>
        <ul class="footer-links">
            <li><a href="https://www.ucsd.edu/_about/legal/index.html">Terms &amp; Conditions</a></li>
            <li class="footer-feedback"><a href="{% block feedback %}mailto:servicedesk@ucsd.edu{% endblock %}">Feedback</a></li>
        </ul>
    </section>
</footer>