<section class="layout-title">
    <div class="layout-container container">
        <button class="btn-nav">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="title-header title-header-large">What If Tool Demo</a>
       <a href="#" class="title-header title-header-short">What If</a>
      <a href="https://www.ucsd.edu" class="title-logo">UC San Diego</a>
    </div>
</section>

<nav class="navbar navbar-default bg-primary">
    <div class="container">
        <ul class="nav navbar-nav">
            <!--<li><a href="{{url_for('static', path='add_course.html')}}">Add a course</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="#">Movies 2</a></li>-->
        </ul>
    </div>
</nav>